font-family: 'Josefin Sans', sans-serif;
	
	
}



header,h1,nav,main,article, aside, footer{
	padding:0px;
	margin:0px;
	border:1px solid black;
}

header{
	display:flex;
	align-content: flex-start;

}

nav{
	
	display:flex;


}

main{
	display:flex;
	background-image: url("img/tree.jpg");
     
}
aside{
	flex-basis:25%;
	
}
article{
	
	flex-basis:75%;
	
}

@media (max-width:600px){
	
	main{
		flex-direction:column;
		
	}
	article{
		flex-basis:100%;
		
	}
	aside{
		flex-basis:100%;
		
	}
	
	
}