

#terminal{
	border:2px solid black;
	min-width:240px;
	min-height:120px;
	max-height:120px;
	overflow:scroll;
	
}
body{
	display: flex;
	justify-content: center;
	align-items: center;
	background: #252839;
}